dummy-project/src/main/mule/dummy-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="27a8c93b-1954-47a9-814c-79dc1fd6d857" >
		<http:listener-connection host="0.0.0.0" port="8081"/>
	</http:listener-config>
	<flow name="dummy-projectFlow" doc:id="5e207551-e5dd-4706-a6d1-2a5153800cc5" >
		<http:listener doc:name="Listener" doc:id="b8843237-84af-44fa-886d-e593b584d186" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value="#['Hi Dummy']" doc:name="Set Payload" doc:id="214b9137-8195-452d-8454-320a6348f740" />
	</flow>
</mule>
